version: 2
updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 14
    groups:
      python-dependencies:
        patterns:
          - '*'
  - package-ecosystem: github-actions
    directory: /
    groups:
      actions:
        patterns:
          - '*'
    schedule:
      interval: daily
    cooldown:
      default-days: 14
