[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"

[packages]
requests = "==2.23.0"
pytricia = "==1.0.1"
ipwhois = "==1.2.0"

[requires]
python_version = "3.8"
