name: CIDR update cronjob

on:
  push:
    branches:
      - master
  schedule:
    - cron: '50 20 * * *'
  workflow_dispatch:

jobs:
  update-cidr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: "latest"

      - name: Running backup script
        run: |
          uv run python update_raw.py

      - name: update cidr listing with bash
        run: |
          bash src/dl/download_google.sh > data/raw/gcp.txt

      - name: Commit and push changes
        if: github.ref == 'refs/heads/master'
        run: |
          git status
          git config --local user.email "noreply@github.com"
          git config --local user.name "github-actions[bot]"
          git add data/raw/
          if ! git diff-index --quiet HEAD; then
            git commit -m "Nightly update of raw CIDR ranges - $(date +'%Y-%m-%d')"
            git push -u origin master
          fi
